.FullSectionColorThree{
    background-color:#212529;
}
.HeaderSectionThree h2{
        font-size: 35px;
        color: #ffff;
        border-bottom: 1px solid #56575D;
        padding:10px ;
        text-align: center;

}

